
# Emacs Backup files
*~

# Python compiled
*pyc

nlp/secret

# Regex

regex/noblank

# Genderapi

nlp/genderapi/genderapipass.txt

# Slides

slides/*tex

# Shell

shell/newfile.txt
shell/grep.tmp
shell/2.csv
