{% extends "base.html" %}
{% block extra_title_nav %}
Emacs Lisp
{% endblock %}
{% block extra_elisp %}active{% endblock %}
{% block content %}
    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Una Introducción a la programación en Emacs Lisp</h1>
      <div class="row" vocab="http://schema.org/" typeof="Product">
        <div class="col-sm-4 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src={{ url_for('static', filename='img/elisp-es.png') }} alt="Una Introducción a la programación en Emacs Lisp" property="image" ></a>
          </div>
        </div>
        <div class="col-sm-8 portfolio-item" property="description">
          <div class="card h-100">
	    <p class="card-text">
	      Este es el primer libro que editamos. La traducción del libro ha sido hecha por Libremanuals. Es un libro muy paradigmático de la comunidad
(emacs-es) donde los hispanohablantes se acercan a realizar impulsos
de traducción o lectura del libro para ser mejores usuarios y
	      programadores de emacs.</p>

	    <p class="card-text">
	      En el mundo de la programación hay dos familias: lobos y corderos. Los lenguajes cordero son lenguajes académicos con belleza matemática,
adecuados para el aprendizaje y/o la investigación; Haskell, Scheme y
Modula son así. Los lenguajes lobo son aptos para la industria, para
ganar dinero; PHP, C y Java son así. Emacs lisp es un lobo con piel de
cordero, usa la belleza científica para aumentar la productividad del
programador.</p>

	    <p class="card-text">El autor es Robert J. Chassell, con
un prefacio de Richard M. Stallman. Robert J Chassell es miembro
fundador de la Free Software Foundation y gran orador de ponencias de
	      Software Libre. Richard M. Stallman es fundador de GNU y de la FSF, así mismo, es autor de GNU Emacs.</p>

	    <p class="card-text">Aprender Emacs Lisp, al menos, le permitirá crear pequeñas extensiones para un .emacs. Para leer este libro no son necesarios conocimientos anteriores de programación. Os presentamos estos <a href="https://github.com/davidam/davidam">ejemplos de configuraciones y extensiones en emacs lisp</a></p>

	    <p class="card-text">Pedidos a través de:</p>

	    <ul>
	      <li><a href="https://www.libros.so/libro/una-introduccion-a-la-programacion-en-emacs-lisp_1090951">UAM</a></li>
	      <li><a href="http://www.lamalatesta.net/product_info.php/products_id/5852">Malatesta</a></li>
	      <li><a href="http://traficantes.net/libros/una-introduccion-la-programacion-en-emacs-lisp">Traficantes de Sueños</a></li>
	      <li><a href="http://fal.cnt.es/tienda/node/705">FAL</a></li>
	      <li><a href="http://larosanegraediciones.com/home/885-una-introduccion-a-la-programacion-en-emacs-lisp.html">La Rosa Negra</a></li>
	      <li><a href="https://edicionesydistribucionesfantasma.wordpress.com/2018/01/13/una-introduccion-a-la-programacion-en-emacs-lisp/">Ediciones Fantasma</a></li>
	    </ul>

	    <p class="card-text">Se pueden solicitar mejoras al libro a través de <a href="https://savannah.nongnu.org/projects/elisp-es/">Savannah</a>. Si quieres el libro gratis puedes <a href="http://davidam.com/debian/elisp-es_1.0-1_all.deb">descargar el paquete debian</a> e instalarlo en tu sistema basado en debian gnu/linux preferido.</p>

	    <ul>
	      <li>ISBN: 978-84-608-5935-2</li>
	      <li>Número de páginas: 265</li>
	      <li>Precio: 15€</li>
	    </ul>

	    <p class="card-text">Puedes discutir dudas o detalles del libro desde la lista de distribución <a href="https://lists.riseup.net/www/info/elisp-es">elisp-es</a></p>

          </div>
        </div>

      </div>
    <!-- /.container -->

{% endblock %}
