{% extends "base.html" %}
{% block extra_title_nav %}
Org Mode
{% endblock %}
{% block extra_orgmode %}active{% endblock %}
{% block content %}
<!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Guía Compacta de Org-Mode</h1>
      <div class="row">
        <div class="col-sm-4 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src={{ url_for('static', filename='img/orgmode-front.png') }} alt="Una Introducción a la programación en emacs LISP"></a>
          </div>
        </div>
        <div class="col-sm-8 portfolio-item">
          <div class="card h-100">
	    <p class="card-text">
	      <a href="http://orgmode.org/">Org mode</a> es un sistema poderoso para organizar proyectos, tareas y
notas en el editor <a href="https://www.gnu.org/software/emacs/">GNU/Emacs</a>, principalmente. Soporta ítems de
contenidos (outlines), planificación de proyectos, y documentos de
autoría con un rápido y efectivo sistema basado en texto plano.
	    </p>

	    <p class="card-text">
	      Org mode almacena todo en ficheros de texto plano legibles para
humanos, asegurando la portabilidad completa, integración simple con
otras herramientas de procesamiento de texto y soporte para trazar la
revisión y sincronización usando cualquier sistema de control de
	      versiones.
</p>

	    <p class="card-text">
	      Org mode es a GNU/Emacs, lo que GNU/Emacs es al sistema
operativo. Esto es, un sustrato en el que apoyarse para todo tipo de
operaciones: documentos, presentaciones, hiperenlaces, agenda,
etc. Hay cuestiones avanzadas como tener código fuente en el documento
y en el documento objeto, por ejemplo, un pdf, se muestre el resultado
que no se verán (por ahora) en otros sistemas de documentación como
	      Word, Latex, etc.
	    </p>

	    <ul>
	      <li>ISBN: 978-84-608-8894-9</li>
	      <li>Número de páginas: 50</li>
	      <li>Precio: 8€</li>
	    </ul>

	    <p class="card-text">Ya puedes comprarlo en
	      <ul>
		<li><a href="https://www.libros.so/libro/guia-compacta-de-org-mode_1090952">UAM</a></li>
		<li><a href="https://www.libros.so/libro/guia-compacta-de-org-mode_1090952">URJC</a></li>
		<li><a href="https://www.traficantes.net/libros/guia-compacta-de-org-mode">Trafıcantes de Sueños</a></li>
		<li><a href="http://fal.cnt.es/tienda/node/704">FAL</a></li>
		<li><a href="http://larosanegraediciones.com/ciencia-y-tecnologia/881-guia-compacta-de-org-mode.html?search_query=Guia+compacta+de+org-mode&results=1">La Rosa Negra</a></li>
	      </ul>
	    <p class="card-text">
	      Puedes discutir dudas o detalles del libro desde la <a href="https://lists.riseup.net/www/info/orgmode">lista de distribución orgmode creada para Libremanuals</a>. Y descargar las fuentes del libro desde <a href="https://github.com/davidam/orgguide-es">github</a>. Tambi&eacute;n hemos hecho algunas contribuciones a org-mode que sirven de ejemplo para iniciarse en la programaci&oacute;n de este programa para GNU Emacs:
	      <ul>
		<li><a href="https://code.orgmode.org/bzg/org-mode/src/master/contrib/lisp/org-license.el">Org License</a></li>
		<li><a href="https://code.orgmode.org/bzg/org-mode/src/master/contrib/lisp/org-effectiveness.el">Org Effectiveness</a></li>
	    </p>

          </div>
        </div>

      </div>
    <!-- /.container -->
{% endblock %}
