{% extends "base.html" %}
{% block extra_title_nav %}
Python
{% endblock %}
{% block extra_python %}active{% endblock %}
{% block content %}
    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">El Tutorial de Python</h1>
      <div class="row" vocab="http://schema.org/" typeof="Product">
        <div class="col-sm-4 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src={{ url_for('static', filename='img/python-front.png') }} alt="El Tutorial de Python" property="image" ></a>
          </div>
        </div>
        <div class="col-sm-8 portfolio-item" property="description">
          <div class="card h-100">
	    <p class="card-text">
	      Este manual ofrece una introducción tutorial completa al lenguaje Python.
	    </p>
	    <p class="card-text">
Python es el cuarto lenguaje de programación más usado en el mundo (Fuente: <a href="https://www.tiobe.com/tiobe-index/">Tiobe, 2018</a>). Siendo el lenguaje de script preferido entre la comunidad de programadores internacional.
	    </p>

	    <p class="card-text">
Python destaca como lenguaje de programación en áreas como la administración de sistemas, inteligencia artificial y la ciencia en general. También tiene una comunidad amplia en otras áreas como la programación web, videojuegos, ...
	    </p>

	    <p class="card-text">
Python tiene diferentes paradigmas: orientado a objetos, imperativo, funcional y reflexivo
	    </p>

	    <p class="card-text">
Python fué diseñado por Guido Van Rossum y se financia a través de la Python Software Foundation. Posee una licencia de código abierto, denominada Python Software Foundation License, que es compatible con la licencia GPL.
	    </p>

	    <p class="card-text">
	      La comunidad de Python está concienciada con la promoción de la diversidad de género a través de <a href="https://pyladies.org">pyladies</a>.
	    </p>

	    <p class="card-text">
	    El libro es desarrollado por Guido Van Rossum y traducido por la comunidad argentina de Python (Octubre, 2017).
	    </p>

	    <p class="card-text">
	      Hemos seleccionado un <a href="https://github.com/davidam/python-examples">buen número de ejemplos python</a>, para demostrar las capacidades del lenguaje en las diferentes áreas de la computación.
	    </p>

	    <ul>
	      <li>ISBN: 978-84-09-01157-5</li>
	      <li>Número de Páginas: 102</li>
	      <li><span property="price">15</span>€</li>
	    </ul>

	    <p class="card-text">Ya puedes comprarlo en
	      <ul>
	    	<li><a href="http://fal.cnt.es/tienda/node/720">Fundaci&oacute;n Anselmo Lorenzo</a></li>
		<li><a href="https://www.traficantes.net/libros/el-tutorial-de-python">Traficantes de Sueños</a></li>
	    	<li><a href="https://www.libros.so/libro/el-tutorial-de-python_1160684">URJC</a></li>
	    	<li><a href="https://www.libros.so/libro/el-tutorial-de-python_1160684">UAM</a></li>
		<li><a href="http://larosanegraediciones.com/ciencia-y-tecnologia/1039-el-tutorial-de-python.html">Rosa Negra</a></li>
	      </ul>

	    <p class="card-text">Puede usted preguntar dudas acerca de Python en la <a href="https://lists.es.python.org/listinfo">comunidad hispana</a></p>
	  </div>
	</div>
      </div>
    <!-- /.container -->

{% endblock %}
