{% extends "base.html" %}
{% block extra_title_nav %}
R
{% endblock %}
{% block extra_r %}active{% endblock %}
{% block content %}
    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Una Introducción a R</h1>
      <div class="row" vocab="http://schema.org/" typeof="Product">
        <div class="col-sm-4 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src={{ url_for('static', filename='img/R-front.png') }} alt="Una Introducción a R" property="image" ></a>
          </div>
        </div>
        <div class="col-sm-8 portfolio-item" property="description">
          <div class="card h-100">
	    <p class="card-text">
	      Este manual ofrece una introducción tutorial completa al lenguaje GNU R.
	    </p>
	    <p class="card-text">
GNU R es el lenguaje estadístico más usado (Fuente: <a href="https://www.tiobe.com/tiobe-index/">Tiobe, 2017</a>). Ningún otro lenguaje estadístico tiene tantos módulos.
	    </p>

	    <p class="card-text">
R está escrito en C, Fortran y R y liberado con la licencia GPL. R
tiene una línea de comandos y varios front-ends gráficos disponibles.
	    </p>

	    <p class="card-text">
R es multiparadigma: arrays, orientado a objetos, imperativo,
funcional, procedural, con capacidad de reflexión.
	    </p>

	    <p class="card-text">
	    La comunidad de R es fuerte, se hacen conferencias cada año y tiene su propia revista científica: <a href="https://journal.r-project.org/">R Journal</a>.
	    </p>

	    <p class="card-text">
	    La comunidad de R está concienciada con la promoción de la diversidad de género a través de <a href="https://rladies.org">rladies</a>.
	    </p>


	    <p class="card-text">
	    El libro es desarrollado por su comunidad (R Development Team) y
traducido por la comunidad hispanohablante de R (Andrés González y
Silvia González).
	    </p>

	    <ul>
	      <li>ISBN: 978-84-697-7122-8</li>
	      <li>Número de Páginas: 100</li>
	      <li><span property="price">15</span>€</li>
	    </ul>

	    <p class="card-text">Ya puedes comprarlo en
	      <ul>
		<li><a href="http://larosanegraediciones.com/ciencia-y-tecnologia/896-una-introduccion-a-r.html">La Rosa Negra</a></li>
		<li><a href="https://www.traficantes.net/libros/una-introduccion-r">Traficantes de Sueños</a></li>
		<li><a href="http://fal.cnt.es/tienda/node/702">FAL</a></li>
		<li><a href="https://www.libros.so/libro/una-introduccion-a-r_1081725">URJC</a></li>
		<li><a href="https://www.libros.so/libro/una-introduccion-a-r_1081725">UAM</a></li>
		<!-- <li><a href="https://www.amazon.es/Una-introducci%C3%B3n-Development-Core-Team/dp/8469771221/ref=sr_1_1?s=books&ie=UTF8&qid=1526632272&sr=1-1&keywords=libremanuals+introducci%C3%B3n+a+r">Una introducción a R</a></li> -->
	      </ul>

          </div>
        </div>

      </div>
    <!-- /.container -->

{% endblock %}
